@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom Colors */
  --color-primary: #512725;

  /* Custom Fonts */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-cormorant: var(--font-cormorant);
  --font-vibes: var(--font-vibes);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite ease-in-out;
}